* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.form {
  margin-top: 30px;
}
.search-box {
  width: 200px;
  font-size: 16px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid rgb(163, 163, 163);
}

.submit {
  border: none;
  border-radius: 10px;
  background-color: rgb(56, 165, 56);
  color: white;
  font-size: 16px;
  padding: 7px;
  margin-left: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(31, 124, 31);
}

.all-recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  margin-top: 15px;
  flex-wrap: wrap;
  width: 50%;
}

li {
  list-style: none;
}